<div class="row">
  <div class="medium-10 columns">
    <h4>My Meal Plans</h4>
  </div>
  <div class="medium-2 scolumns">
    <%= link_to 'Create a new meal plan', new_meal_plan_path, class: "button tiny" %>
  </div>
</div>

<% @meal_plans.each do |meal_plan| %>
  <%= render 'meal_plan', obj: meal_plan %>
<% end %>