<%= render 'shared/content_title', title: 'My Meal Plans' %>

<div class="row">
  <div class="medium-12 scolumns">
    <%= link_to 'Create a new meal plan', new_meal_plan_path, class: "button tiny right" %>
  </div>
</div>

<% @meal_plans.each do |meal_plan| %>
  <div class="row panel">
    <h5><%= link_to meal_plan.title, meal_plan_path(meal_plan) %></h5>
    <p><%= meal_plan.description %></p>
  </div>
<% end %>